header{
    background-color: black;
    padding: 1rem;
    
    

}
.header__nav {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.header__logo {
    display: flex;
    max-width: 150px;
    min-width: 120px;
    animation:rotate-vert-center 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    
}

.header__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    
}
.header__li {
    color: white;
    font-size: 20px;
}

.header__li:hover {
    background-color: rgb(80, 69, 69)
} 
